// Brand
.cui-brand {
  font-size: $--font-size-extra-large;
  font-weight: $--font-weight-primary;
}

// Intro
.cui-intro {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    font-size: $--font-size-medium;
    line-height: 1.5;
    color: $--color-text-secondary;
  }
}

// Svg icon
.svg-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  overflow: hidden;
}