.page-error {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .error__content {
    width: 700px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .error__text {
    position: absolute;
    left: 0px;
    top: 0px;
    h4 {
      position: absolute;
      left: 0px;
      top: 0px;
      margin: 0;
      padding: 0;
      font-size: 80px;
      font-weight: 700;
      color: #348eed;
    }
    h5 {
      position: absolute;
      width: 700px;
      left: 0px;
      top: 100px;
      margin: 0;
      padding: 0;
      font-size: 20px;
      font-weight: 700;
      color: #67647d;
    }
  }

  .error__btn-group {
    position: absolute;
    right: 0px;
    bottom: 20px;
    .el-button--text {
      color: #348eed;
    }
    .el-button--text + .el-button--text {
      margin-left: 15px;
    }
  }
}
